{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile container">
    <h2>Profile Page</h2>
    <div>
        <p>Your account details are below:</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ account['username'] }}</td>
                </tr>
                <tr>
                    <th>UserID</th>
                    <td>{{ account['id'] }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ account['password'] }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ account['email'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}